*,
*::before,
*::after {
  box-sizing: border-box;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}
.button {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  font-size: medium;
  background-color: mediumspringgreen;
  border: 2px solid green;
  cursor: grab;
}
