*,
*::before,
*::after {
  box-sizing: border-box;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 100px;
  height: 100px;

  border: 1px solid green;
  cursor: grab;
}
